<div class="col-md-offset-1 col-md-10 content">
    <form action="/signin" method="post" name="connexion">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Connexion</h1>
            </div>
            <!-- S'il y a des erreurs on les affiche -->
            {{#if errors}}
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    <p>Des erreurs ont été rencontrées :</p>
                    <ul>
                        {{#each errors}}
                            <li>{{.}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/if}}
            {{#if success}}
            <div class="col-xs-12">
                <div class="alert alert-success">
                    {{#each success}}
                        <p>{{.}}</p>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <!-- Fin d'affichage erreurs -->
            <div class="col-xs-12">
                <h2>Via Email</h2>
            </div>

        </div>



        <div class="row">
            <div class="col-sm-6 col-xs-12 form-signin">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="name@something.com" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="passwd">Mot de passe</label>
                    <input type="password" name="passwd" id="passwd" class="form-control" />
                </div>
                <button class="btn btn-primary">Connexion</button>
            </div>
            <div class="col-sm-6 col-xs-12">
                <a href="/auth/facebook" class="btn btn-block btn-social btn-lg btn-facebook hidden-xs"><i class="fa fa-facebook"></i> Se connecter avec Facebook</a>
                <a href="/auth/facebook" class="btn btn-block btn-social btn-lg btn-facebook visible-xs" style="margin-top: 20px;"><i class="fa fa-facebook"></i> Se connecter avec Facebook</a>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <h1>Pas encore inscrit ?</h1>
            <p>Rejoins-nous en cliquant sur le bouton ci-dessous.</p>
            <a href="/auth/signup" class="btn btn-primary text-center">Je m'inscris</a>
        </div>
    </div>
</div>